@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply h-full;
}

.card-section {
  @apply bg-card my-4 lg:my-6  lg:max-w-7xl mx-auto rounded-lg shadow-sm border border-muted px-2 md:px-4 py-2;
}

@layer base {
  :root {
    /* */
    --background: 0 0% 100%; /* hsla(0, 0%, 96%, 1) */
    --foreground: 222.2 84% 4.9%; /* hsla(222, 84%, 5%, 1) */

    --card: 0 0% 100%; /* hsla(0, 0%, 100%, 1) */
    --card-foreground: 0 0% 20%; /* hsla(222, 84%, 5%, 1) */

    --popover: 0 0% 100%; /* hsla(0, 0%, 100%, 1) */
    --popover-foreground: 222.2 84% 4.9%; /* hsla(222, 84%, 5%, 1) */

    --primary: 222.2 47.4% 11.2%; /* hsla(222, 47%, 11%, 1) */
    --primary-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --secondary: 210 40% 96.1%; /* hsla(210, 40%, 96%, 1) */
    --secondary-foreground: 222.2 47.4% 11.2%; /* hsla(222, 47%, 11%, 1) */

    --muted: 0 0% 80%; /* hsla(0, 0%, 80%, 1) */
    --muted-foreground: 0 0% 30%; /* hsla(0, 0%, 30%, 1) */

    --accent: 116 46% 42%; /* hsla(116, 46%, 42%, 1) */
    --accent-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1)*/

    --accent2: 345 100% 59%; /* hsla(345, 100%, 59%, 1) */
    --accent2-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1)*/

    --destructive: 0 84.2% 60.2%; /* hsla(0, 84%, 60%, 1) */
    --destructive-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --border: 214.3 31.8% 91.4%; /* hsla(214.3, 31.8%, 91.4%, 1) */
    --input: 214.3 31.8% 91.4%; /* hsla(214.3, 31.8%, 91.4%, 1) */
    --ring: 222.2 84% 4.9%; /* hsla(222.2, 84%, 4.9%, 1) */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* hsla(222.2, 84%, 4.9%, 1) */
    --foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --card: 222.2 84% 4.9%; /* hsla(222.2, 84%, 4.9%, 1) */
    --card-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --popover: 222.2 84% 4.9%; /* hsla(222.2, 84%, 4.9%, 1) */
    --popover-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --primary: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */
    --primary-foreground: 222.2 47.4% 11.2%; /* hsla(222.2, 47.4%, 11.2%, 1) */

    --secondary: 217.2 32.6% 17.5%; /* hsla(217.2, 32.6%, 17.5%, 1) */
    --secondary-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --muted: 217.2 32.6% 17.5%; /* hsla(217.2, 32.6%, 17.5%, 1) */
    --muted-foreground: 215 20.2% 65.1%; /* hsla(215, 20.2%, 65.1%, 1) */

    --accent: 217.2 32.6% 17.5%; /* hsla(217.2, 32.6%, 17.5%, 1) */
    --accent-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --destructive: 0 62.8% 30.6%; /* hsla(0, 62.8%, 30.6%, 1) */
    --destructive-foreground: 210 40% 98%; /* hsla(210, 40%, 98%, 1) */

    --border: 217.2 32.6% 17.5%; /* hsla(217.2, 32.6%, 17.5%, 1) */
    --input: 217.2 32.6% 17.5%; /* hsla(217.2, 32.6%, 17.5%, 1) */
    --ring: 212.7 26.8% 83.9%; /* hsla(212.7, 26.8%, 83.9%, 1) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* animated border */
.gradient-btn {
  background: linear-gradient(
    90deg,
    #ffffff 3%,
    #ffffff 47%,
    #ffff00 53%,
    #ffa500 72%,
    #f14444 77%,
    #d53567 88%,
    #9a109a 97%
  );

  padding: 13px 20px;

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  transition: 256ms all;
  position: relative;
  cursor: pointer;
}

.gradient-btn:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(
    90deg,
    #ffffff 3%,
    #ffffff 47%,
    #ffff00 53%,
    #ffa500 72%,
    #f14444 77%,
    #d53567 88%,
    #9a109a 97%
  );
  transition: 256ms all;
  z-index: -1;
  background-size: 200% 100%;
  background-position: left center;
}

.gradient-btn:after {
  background: rgb(24, 24, 24);
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.gradient-btn,
.gradient-btn:before {
  background-position: right center;
}
